.cardCar {
  margin-bottom: 28px;
  min-height: 360px;
}
.imgWrapper {
  position: relative;
}
.img {
  margin-bottom: 16px;
  border-radius: 12px;
}

.heart {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
}
.svg {
  width: 16px;
  height: 16px;
  fill: var(--white);
  cursor: pointer;
  background-color: transparent;
}
.svgFavorite {
  fill: #3470ff;
}

.wrap {
  display: flex;
  margin-bottom: 8px;
}
.titleCar {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  vertical-align: middle;

  color: var(--main-text);
  margin-right: 87px;
}
.modelCar {
  color: var(--button-color);
}

.price {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  vertical-align: middle;
  color: var(--main-text);
}

.textLine {
  font-family: Manrope;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey);
  margin-bottom: 4px;

  display: flex;
  gap: 12px;
  align-items: center;
}
.textLine span {
  position: relative;
  padding-right: 8px;
}
.textLine span:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 16px;
  width: 1px;
  background-color: #dadde1;
}

.btnMore {
  background-color: var(--button-color);
  padding: 12px 97px;
  color: var(--white);
  border-radius: 12px;

  font-family: Manrope;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
}
