.details {
  padding-top: 84px;
  padding-bottom: 104px;
}

.detailsContainer {
  display: flex;
  gap: 72px;
}

.wrapper {
  justify-content: center;
  align-items: center;
  max-width: 640px;
}
.img {
  border-radius: 18px;
  margin-bottom: 40px;
}
.formWrap {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
}
.title {
  font-family: Manrope;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;

  color: var(--main-text);
  margin-bottom: 8px;
  padding-left: 32px;
}
.text {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #8d929a;
  padding-left: 32px;
}
